
<section>
	<main>
		<section class="heading">
			<header>
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6 text-left">
							<h1>
								<i class="fa fa-users" aria-hidden="true"></i>Usuarios
							</h1>
						</div>
						<div class="col-sm-6">
							<nav aria-label="breadcrumb" class="text-right">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><i class="fa fa-dashboard"></i><a routerLink="/relatorios"> Home</a></li>
									<li class="breadcrumb-item"><i class="fa fa-users"></i><a routerLink="/usuarios"> Usuarios</a></li>
									<li *ngIf="isNovo()" class="breadcrumb-item active"	aria-current="page"> Adicionar Usuário</li>
									<li *ngIf="!isNovo()" class="breadcrumb-item active" aria-current="page" >Editar Usuário / {{usuario.nome}}</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</header>
		</section>
		<section class="main-content grey-back resumo">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 *ngIf="isNovo()" class="subtitle"><i class="fa fa-user-plus" aria-hidden="true"></i> Adicionar usuário</h2>
						<h2 *ngIf="!isNovo()" class="subtitle"><i class="fa fa-edit" aria-hidden="true"></i> Editar usuário</h2>
						<div class="widget">
							<form class="form" #form="ngForm" (ngSubmit)="save()">
								<input type="hidden" class="form-control input-sm" id="id" [(ngModel)]="usuario.id" name="id"/>
								
								<app-messages></app-messages>
							
								<div class="row">
									<!--[ngClass]="getFromGroupClass(email.invalid, email.dirty)"-->
									<div class="col-md-12" >
										<label for="name"><i class="fa fa-user" aria-hidden="true"></i> Nome</label>
										<input type="text" name="nome" autofocus="autofocus" [(ngModel)]="usuario.nome" maxlength="50" placeholder="Preencha o nome..."/>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="text"><i class="fa fa-key" aria-hidden="true"></i> Login AD <small>Utilizado como login do AD</small></label>
										<input type="text" name="login"  [(ngModel)]="usuario.login" placeholder="Informe o login" maxlength="50" />
									</div>
								</div>
								<div class="row">
									<div class="col-md-12" >
										<label><i class="fa fa-sign-in" aria-hidden="true"></i> Status</label>
											<select  [(ngModel)]="usuario.status" name="status" class="form-control">
												<option value="" selected>Selecione.:</option>
												<option *ngFor="let status of statusUsuario.values()" [ngValue]="status.value">
													{{status.name}}
												</option>
											</select>
									</div>
									<!--[attr.selected]="passenger.Title==title.Text ? true : null"-->
								</div>
								<div class="row mb-3">
									<div class="col-md-12" >
										<label><i class="fa fa-id-card-o" aria-hidden="true"></i> Perfil</label>
										
											<div class="form-check" *ngFor="let grupo of grupos; let i = index "> 
												<input 
													class="form-check-input"
													type="checkbox" 
													[checked]="(usuario.grupos && (-1 !== usuario.grupos.indexOf(grupo.id)) ? 'checked' : '')"
													(change) ="updateSelected($event,grupo, i)"
													value="{{grupo.id}}"
													id="grupo{{grupo.id}}"
													name="grupo{{grupo.id}}"
													[(ngModel)] = "grupo.checked"
												/> 
												<label for="grupo{{grupo.id}}" >{{grupo.nome}}</label>
											</div>
									</div>
								</div>
								<button *ngIf="isNovo()" type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-save" aria-hidden="true"></i> Adicionar Usuário</button>
								<button *ngIf="!isNovo()" type="submit" class="btn btn-lg btn-primary btn-block"><i class="fa fa-save" aria-hidden="true"></i> Alterar Usuário</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</section>
